@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

body {
    /* background: coral; */
    display: grid;
    height: 100vh;
    align-content: space-between;
    grid-template-columns: 10% 90%;
    grid-template-rows: 90% 10%;
    column-gap: 0px;
    font-family: 'Source Sans Pro', sans-serif;

}

nav {
    background: #E0DAD5;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    padding: 10px;
}

nav ul {}

nav ul li {
    list-style: none;
}

nav a {
    text-decoration: none;
    color: #000;
    margin: 5px 0px;
    padding: 10px;
    display: block;
    border: 1px solid #000;
}

main {
    /* background: rgb(134, 69, 69); */
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    padding-top: 30px;
}

main table {
    border-collapse: collapse;
    margin: 20px auto;
    width: 90%;
    text-align: center;
}

main table tr:nth-child(even) {
    background: lightgray;
}

main table button {
    border: none;
    width: 40%;
    margin: 3px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px grey;
}

main table button:hover {
    box-shadow: none;
}

main .update {
    background: #388a48;
    padding: 3px;
}

main table .delete {
    background: red;
    padding: 3px;

}

main table a {
    color: #fff;
    text-decoration: none;
}

main .searchForm {
    /* background: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

main .searchForm input {
    background: none;
    border: 1px solid #111;
    padding: 5px;
    width: 200px;
}

main .searchForm button {
    background: none;
    padding: 5px;
    border: 1px solid #111;
    cursor: pointer;
}

footer {
    background: #E0DAD5;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.aside_cart {
    /* background: red; */
}

.container {
    /* background: red; */
}

.mainStaff {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 200px auto;
}

.mainStaff a {
    /* color: #b46523; */
    color: #f6a05f;
}

.mainStaff a i {}

.mainStaff div:hover {
    box-shadow: none;
    border: 1px solid green;
    transition: 0.4s;
}

.mainStaff div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 3px 3px 3px 3px #E0DAD5;
    padding: 10px;
    width: 200px;
    border-radius: 8px;


}

/* ----------------------AddStaff----------------------- */
.addStaff {
    background: none;
    width: 400px;
    margin: auto;
    padding: 10px 25px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px lightgray;
}

.addStaff h2 {
    color: #388a48;
    text-align: center;
    text-transform: uppercase;
}

.addStaff .input {
    width: 100%;
    padding: 8px;
    margin: 5px 0px;
    border: 1px solid #000;
    font-size: medium;
}

.addStaff .submit {
    background: #E0DAD5;
    width: 100%;
    padding: 8px;
    border: none;
}